.chat {
    float: left;
    width: 70%;
    height: 100%;
    box-sizing: border-box;
    border: 1px solid rgba(0,0,0,0.1);
}

.chat-letter {
    display: inline-block;
    height: 20px;
    width: 20px;
    /* line-height: 40px; */
    text-align: center;
    border-radius: 40px;
    color: white;
    font-size: 0.7em;
    margin-right: 12px;
}

.myInput {
    width: 70%;
    position: absolute;
    bottom: 8px;
}

.message-box {
    overflow-y: scroll;
    height: 75%;
}

.message-box::after {
    display: table;
    clear: both;
}

.message {
    color: white;
    padding: 18px 20px;
    line-height: 26px;
    font-size: 16px;
    border-radius: 7px;
    margin-bottom: 30px;
    width: 90%;
    position: relative;
}

.self {
    background: #94C2ED;
    float: right;
    margin-right: 10px;
}

.other {
    background: #86BB71;
    float: left;
    margin-left: 10px;
}